* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, serif;
}

body {
    width: 100%
}

.headerDiv {
    position: relative;
    width: 100vw;
    padding-top: 37vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.headerDiv img {
    position: absolute;
    top: 0;
    left: 0;
    height: 40vw;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.headerDiv::after {
    content: "";
    display: block;
    background: linear-gradient(to bottom,
                    rgba(0,0,0,0) 0%,
                    rgba(255,255,255,0.75) 60%,
                    rgba(255,255,255,1) 100%);
    position: absolute;
    top: 16vw;
    left: 0;
    right: 0;
    height: 24vw;
    z-index: -1;
}

.headerDiv h1 {
    text-align: center;
}

.generalInformation {
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.othersInformation {
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 80vw;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.othersInformation button {
    margin: 20px 0;
    padding: 10px;
    border-radius: 33vw;
    border: solid #7D1D2E;
    background-color: #7D1D2E;
    color: white;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
    font-size: 20px;
}

.button {
    padding: 10px;
    border: solid transparent;
    box-shadow: 5px 5px 10px rgba(0,0,0, 0.2);
    border-radius: 20px;
    background-color: #7D1D2E;
    color: white;
    margin: 10px;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.centeredImage {
    display: flex;
    justify-content: center;
    height: 50vh;
}
